
body
{
  background-color: lightblue;
  background-image: linear-gradient(90deg, #258feb 0%, #b5cd1a 33%, #d98e45 100%);
}

div{
  text-align: center;
}

div.one{
	font-size: 36px;
  background-color: white;
  margin: auto; 
  border-style: double ;
  border-radius: 12px;
  height: 250px;
  width: 50%;
  text-align: center;
  padding: 20px;
  margin-bottom: 25px;  
}


div.autor
{
  margin-top: 25px;  
  font-style: italic;
	
}

.button{
	
	margin: 5px;
		
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius: 8px;
	transition-duration: 0.4s;

}

.button:hover {
  background-color: #66a3ff; /* Green */
  color: white;
}



